@import 'assets/styles/scss/main.module.scss';


  .border{
   padding: 50px 0 50px 0;
   border-left-style: 2px solid !important;
   border-left-color:  $titleColor !important;
      &> h2 {
        line-height: 2.5rem;
        color: white !important;
        text-decoration: inherit;
        text-transform: inherit;
        font-weight: 500;
        font-size:  34px;
        border-left-style: 2px solid !important;
        border-left-color:  $titleColor !important;
   

      }  
      
  }

.slideContainer {
    background-color: #1A1A1A;
    width: 180px;
    &> img {
        height: 270px;
        width: 180px;
    }

}

.box {
    padding: 10px 5px 5px 5px; 
    color: white;
    display: grid;
   
    grid-template-rows: 40px 50px 40px 50px;
    &> div:nth-child(1)  {
        display: grid;
        grid-template-colums: 1fr 1fr 1fr;
        grid-template-rows: 1fr
    }
    &> div:nth-child(2) >h3 {
        color: white
    }
    &> div:nth-child(3) {
        @include flexCenter;
        background-Color: $lightGrey;
        color: rgba(87, 153, 239, 1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgba(60,	60,	60, 0.8);
        }
    }
    &> div:nth-child(4) {
        @include flexCenter;
    &:hover {
        background-color: $lightGrey;
    }
    }
}